<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/home.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Camcorner</title>
<!-- InstanceEndEditable -->
<link href="../CSS/camera_on_net.css" rel="stylesheet" type="text/css" />
<style type="text/css"></style>
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<!-- InstanceBeginEditable name="EditRegion1" -->

<!-- InstanceEndEditable --><!-- InstanceBeginEditable name="EditRegion2" -->


<div class="c_bg">
  <div class="c_menubar">
    <ul>
      <h3>
        <li>Home</li>
        <li>Brand</li>
        <li>Lenses</li>
        <li>Purchase Form</li>
        <li>Sitemap</li>
        <li>Contact</li>
      </h3>
    </ul>
  </div>
  <div class="c_brand_header"> <img src="../images/camcorner_logo.png" width="174" height="73" /> </div>
  
  
 
  
  <div class="c_content"><strong>
    <h2>&nbsp;</h2>
  </strong> </div>
  <div class="c_footer">
    <ul>
      <li>Home</li>
      <li>Brand</li>
      <li>Lenses</li>
      <li>Purchase form</li>
      <li>Sitemap</li>
      <li>Contact</li>
    </ul>
  </div>
</div>
<!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>
