<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>Camcorner</title>
<!-- TemplateEndEditable -->
<link href="../CSS/camera_on_net.css" rel="stylesheet" type="text/css" />
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>

<body>
<div class="C_order_contactdetails">Toll free contact no. 83910 43180 0r SMS: DWD1853N to 53535 </div>
<!-- TemplateBeginEditable name="EditRegion1" -->
<div class="c_bg c_bg_list ">
  <div class="c_logo"><img src="../images/logo.png" width="684" height="408" /></div>
  <div class="c_menubar">
    <ul>
      <h3>
        <li>Home</li>
        <li>Brand</li>
        <li>Lenses</li>
        <li>Purchase Form</li>
        <li>Sitemap</li>
        <li>Contact</li>
      </h3>
    </ul>
  </div>
  <div class="c_nikon_header"> <div class="c_cointainer">
  <div class="c_cam_image"> <img src="../images/nikon_images/Image_1.jpg" width="300" height="220" />
      <div class="c_cam_content">
        <p>Nikon point and shoot camera</p>
        <p>Price  :Rs.9950 Rs.9452 </p>
        <p>Savings: 498 or 5% </p>
        <p>EMI    :RS.1575 FOR 6 months </p>
      </div>
    </div>
    <div class="c_cam_image"><img src="../images/nikon_images/image_2.jpg" width="300" height="220" />
      <div class="c_cam_content">Nikon Semi SLR Camera COOLPIX
        <p>Price : Rs.23950     Rs.22752</p>
        <p>Savings :    1198 or 5%</p>
        <p>EMI :    3792 for 6 months</p>
      </div>
    </div>
    <div class="c_cam_image"><img src="../images/nikon_images/image_3.jpg" width="300" height="220" />
      <div class="c_cam_content">Nikon Semi SLR Camera COOLPIX
        <p>Price :    Rs.23950   Rs.22752</p>
        <p>Savings :    1198 or 5%</p>
        <p>EMI :    3792 for 6 months</p>
      </div>
    </div>
    <div class="c_cam_image"><img src="../images/nikon_images/image_4.jpg" width="300" height="220" />
      <div class="c_cam_content">Nikon Point and Shoot Camera
        <p>Price : Rs.14450  Rs.12000</p>
        <p>Savings :    2450 or 17%</p>
        <p>EMI :    2000 for 6 months</p>
      </div>
    </div>
    <div class="c_cam_image"><img src="../images/nikon_images/image_5.jpg" width="300" height="220" />
      <div class="c_cam_content">Nikon Point and Shoot Camera
        <p>Price :    Rs.7950   Rs.7711</p>
        <p>Savings :    239 or 3%</p>
        <p>EMI :    1285 for 6 months</p>
      </div>
    </div>
    
    <div class="c_cam_image"><img src="../images/nikon_images/image_6.jpg" width="300" height="220" />
      <div class="c_cam_content">Nikon DSLR D3200 (with AF-S 1
        <p>Price :    48950</p>
        <p>EMI :   8158 for 6 months</p>
      </div>
    </div>
    <div class="c_cam_image"><img src="../images/nikon_images/image_7.jpg" width="300" height="220" />
      <div class="c_cam_content">Nikon DSLR D3200 (with AF-S 1
        <p>Price :    48950</p>
        <p>EMI :   8158 for 6 months</p>
      </div>
    </div>
    <div class="c_cam_image"><img src="../images/nikon_images/image_8.jpg" width="300" height="220" />
      <div class="c_cam_content">Nikon DSLR D3200 (with AF-S 1
        <p>Price :    37950</p>
        <p>EMI :   6325 for 6 months</p>
      </div>
    </div>
    <div class="c_cam_image"><img src="../images/nikon_images/image_9.jpg" width="300" height="220" />
      <div class="c_cam_content">Nikon DSLR D3200 (with AF-S 1
        <p>Price :    37950 </p>
        <p>EMI :   6325 for 6 months </p>
      </div></div>
    </div>
    
    
  </div>
  <div class="c_footer">
    <div class="c_footer_content">Home</div>
    <div class="c_footer_content">Brand</div>
    <div class="c_footer_content">Lenses</div>
    <div class="c_footer_content">Purchase Form</div>
    <div class="c_footer_content">Site Map</div>
    <div class="c_footer_content">Contact </div>
    <div class="c_footer_content c_facebook">Facebook</div>
  </div>
</div>
<!-- TemplateEndEditable -->
</body>
</html>
